.cardBox {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: 0.8s;
}
